body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background: #fbfbfb;
}
.container__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #8ec1e0;
  padding: 20px;
}
.title {
  font-size: 30px;
  color: #fff;
  width: 33.3333%;
}
.search {
  border: 0 none;
  padding: 5px 10px;
  border-radius: 4px;
  width: 33.3333%;
}

.container__list {
  margin-top: 30px;
}
.item {
  width: 33.3333%;
  display: inline-block;
  background: #8ec1e0;
  box-sizing: box-content;
  box-sizing: border-box;
  border: 10px solid #fff;
  padding: 10px;
  color: #fff;
}
.item span {
  display: inline-block;
  vertical-align: middle;
}
.item__img {
  width: 100%;
  margin-bottom: 8px;
}
.item__name {
  font-size: 18px;
  padding-right: 24px;
  position: relative;
}
.item__name:after {
  content: "-";
  display: inline-block;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translate(0px, -53%);
}
.item__price {
  font-size: 20px;
}